<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{functionality}}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div  include-static='views/conferinta/conferintaGrid.html'></div>
                <div  include-static='views/conferinta/conferintaForm.html'></div>
                <div  include-static='views/conferinta/conferintaDetails.html'></div>
            </div>

        </div>
    </div>
</div>