<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{functionality}}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div  include-static='views/membruAsocProf/membruAsocProfGrid.html'></div>
                <div  include-static='views/membruAsocProf/membruAsocProfForm.html'></div>
                <div  include-static='views/membruAsocProf/membruAsocProfDetails.html'></div>
            </div>

        </div>
    </div>
</div>