<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{functionality}}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div  include-static='views/limbaStraina/limbaStrainaGrid.html'></div>
                <div  include-static='views/limbaStraina/limbaStrainaForm.html'></div>
                <div  include-static='views/limbaStraina/limbaStrainaDetails.html'></div>
            </div>

        </div>
    </div>
</div>