<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{functionality}}</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div  include-static='views/organizareConferinte/organizareConferinteGrid.html'></div>
                <div  include-static='views/organizareConferinte/organizareConferinteForm.html'></div>
                <div  include-static='views/organizareConferinte/organizareConferinteDetails.html'></div>
            </div>

        </div>
    </div>
</div>