<div class="alert alert-success" ng-show="save.success" xmlns="http://www.w3.org/1999/html">
    <strong>{{functionality}} saved!</strong>
</div>
<div class="alert alert-danger" ng-show="save.error">
    <strong>An error has occurred!</strong> {{functionality}} could not be saved.
</div>
<div  ng-if="produsInregORDA.components.create||produsInregORDA.components.update">
    <form name="formCreateOrEdit_produsInregORDA" role="form" ng-submit="produsInregORDA.actions.createOrUpdate()">
        <input type="hidden" name="id" ng-model="produsInregORDA.data.id" readonly>
        
        <div class="row m0">
        <div class="mb15 col-md-6">
            <div  class="form-group" ng-class="{'has-success': formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$dirty && formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$valid, 'has-error': formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$dirty && formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$invalid}">
                
                <label>NumeProdus</label>
                <input type="text" class="form-control" name="produsInregORDA_numeProdus" placeholder="NumeProdus" ng-model="produsInregORDA.data.numeProdus"ng-minlength=1 ng-maxlength=50 maxlength="50" required>
                
                <div ng-show="formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$dirty && formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$invalid">
                    <p class="help-block" ng-show="formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$error.required">
                        Your field NumeProdus is required.
                    </p><p class="help-block" ng-show="formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$error.minlength">
                        Your field NumeProdus is required to be at least 1 character
                    </p>
                    <p class="help-block"
                    ng-show="formCreateOrEdit_produsInregORDA.produsInregORDA_numeProdus.$error.maxlength">
                        Your field NumeProdus cannot be longer than 50 characters
                    </p>
            </div>
        </div>
    </div>
    <!-- end field 0 -->
        
        <div class="mb15 col-md-6">
            <div  class="form-group" ng-class="{'has-success': formCreateOrEdit_produsInregORDA.produsInregORDA_an.$dirty && formCreateOrEdit_produsInregORDA.produsInregORDA_an.$valid, 'has-error': formCreateOrEdit_produsInregORDA.produsInregORDA_an.$dirty && formCreateOrEdit_produsInregORDA.produsInregORDA_an.$invalid}">
                
                <label>An</label>
                <input type="number" class="form-control" name="produsInregORDA_an" placeholder="An" ng-model="produsInregORDA.data.an" required>
                
                <div ng-show="formCreateOrEdit_produsInregORDA.produsInregORDA_an.$dirty && formCreateOrEdit_produsInregORDA.produsInregORDA_an.$invalid">
                    <p class="help-block" ng-show="formCreateOrEdit_produsInregORDA.produsInregORDA_an.$error.required">
                        Your field An is required.
                    </p>
            </div>
        </div>
    </div>
    <!-- end field 1 -->
        </div><!--from i+1%entityLayout -->
        
    <!-- end field 2 -->

        <div class="row m0">
            <div class="col-md-12 text-right mb15">
                <button class="btn btn-warning" ng-click="produsInregORDA.actions.back()">Cancel</button>
                <button ng-disabled="formCreateOrEdit_produsInregORDA.$invalid" class="btn btn-success" ng-click="produsInregORDA.actions.createOrUpdate();formCreateOrEdit_produsInregORDA.$setPristine();">Save</button>
            </div>
        </div>
    </form>
</div>
<div>
    <div class="modal fade" id="delete_produsInregORDA_Confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="formDelete_produsInregORDA">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this row ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row m0">
                            <div class="col-md-12 text-right mb15">
                                <button class="btn btn-warning" ng-click="produsInregORDA.actions.back()">Cancel</button>
                                <button ng-disabled="formCreateOrEdit_produsInregORDA.$invalid" class="btn btn-danger" ng-click="produsInregORDA.actions.confirmDelete()">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>